body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.3;
  color: #666;
}

.quick-links {
  position: relative;
}
.quick-links__title {
  display: block;
  margin: 0;
  padding-left: 30px;
  background: url('../images/quicklinks-title-bg.png?1429032443') top left repeat-x;
  line-height: 40px;
  color: #ffffff;
}
.quick-links__nub {
  position: absolute;
  height: 8px;
  width: 11px;
  top: 40px;
  left: 110px;
  background: url('../images/ui-icons.png?1429032443') top left no-repeat;
  background-position: 0 -64px;
  z-index: 2;
}
.quick-links__menu {
  margin: 0;
  padding: 1em 2.2em;
  background-color: #eaf1f8;
}
.quick-links ul,
.quick-links li {
  list-style: none;
}
.quick-links__menu-item {
  position: relative;
  padding: 5px 0;
}
.quick-links__menu-item-arrow {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -6px;
  background: url('../images/ui-icons.png?1429032443') top left no-repeat;
  background-position: 0 0;
  height: 11px;
  width: 11px;
  overflow: hidden;
  text-indent: -99999px;
}
.quick-links__menu-item__link:link {
  border-bottom: 0;
  padding-left: 16px;
  position: relative;
  display: block;
}
.quick-links__menu-item__link:link:hover {
  color: #005a9c;
  border-bottom: 0;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 15px;
  font-family: Georgia, Times, serif;
  font-weight: 400;
}

h1 {
  font-size: 2em;
  color: #333;
}

h2 {
  font-size: 1.769em;
  color: #333;
}

h3 {
  font-size: 1.615em;
  color: #b38808;
}

h4 {
  font-size: 1.462em;
  color: #333;
}

h5 {
  font-size: 1.308em;
  color: #b38808;
}

h6 {
  font-size: 1.154em;
  color: #333;
}

.paragraph--into {
  font-size: 1.308em;
  font-weight: 400;
  font-family: Georgia, Times, serif;
}

p {
  padding-bottom: 20px;
  margin: 0;
}

:link {
  color: #005a9c;
  text-decoration: none;
  border-bottom: 1px dotted currentColor;
}

a:hover,
a:focus,
a:active {
  color: #ec1c2e;
  text-decoration: underline;
  border-bottom: 0;
}

a:hover,
a:active {
  outline: 0;
}
