{% set library = 'charts_' ~ chart_type ~ '/' ~ chart_type %}
{{ attach_library("#{ library }") }}
{{ dump() }}
<p>dsfdsfdsfdf</p>
<div {{ attributes }} {{ content_attributes }} style="width:100%;height: 400px"></div>
