// Sprites
//
// Weight: -1
//
// Markup: sprites.html
//
// Styleguide components.sprites


.sprite {
  display: inline-block;
}

img {
  // Responsive images (ensure images don't scale beyond their parents)
  max-width: 100%;
  // Part 1: Set a maxium relative to the parent
  width: auto\9;
  // IE7-8 need help adjusting responsive images
  height: auto;
  // Part 2: Scale the height according to the width, otherwise you get stretching
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

a[href$='.pdf'] {
  padding-left: 20px;
  background: url('/core/modules/file/icons/application-pdf.png') 0 0 no-repeat;
}

a[href$='.doc'],
a[href$='.docx'] {
  padding-left: 20px;
  background: url('/core/modules/file/icons/x-office-document.png') 0 0 no-repeat;
}

a[href$='.xls'],
a[href$='.xlsx'] {
  padding-left: 20px;
  background: url('/core/modules/file/icons/x-office-spreadsheet.png') 0 0 no-repeat;
}