.sass-cache
/.bundle
**/.idea/
/.vagrant
/app/core
/app/modules/contrib
/app/themes/contrib
/app/profiles/contrib
/app/libraries
/app/sites/all
/app/sites/default/files
/app/sites/default/*
!/app/sites/default/default.settings.php
!/app/sites/default/default.services.yml
/bin
/build
/node_modules
/vendor
config.json
.DS_Store

