<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="./web/core/tests/bootstrap.php" colors="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutChangesToGlobalState="true"
         beStrictAboutCoversAnnotation="false"
         printerClass="\Drupal\Tests\Listeners\HtmlOutputPrinter"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory>./web/modules/custom</directory>
      <directory>./src</directory>
    </include>
    <exclude>
      <directory suffix="Test.php">./</directory>
      <directory suffix="TestBase.php">./</directory>
    </exclude>
  </coverage>
  <php>
    <const name="BOOTSTRAP_IS_PHPUNIT" value="true"/>
    <ini name="error_reporting" value="32767"/>
    <ini name="memory_limit" value="-1"/>
    <env name="BROWSERTEST_OUTPUT_DIRECTORY" value="/code/web/sites/simpletest/browser_output"/>
    <env name="DTT_HTML_OUTPUT_DIRECTORY" value="/code/web/sites/simpletest/browser_output" />
    <env name="SIMPLETEST_BASE_URL" value="http://127.0.0.1:8080"/>
    <env name="DTT_BASE_URL" value="http://127.0.0.1:8080"/>
    <env name="DTT_MINK_DRIVER_ARGS" value="[&quot;chrome&quot;, { &quot;chromeOptions&quot;: { &quot;w3c&quot;: false, &quot;args&quot;: [&quot;--disable-dev-shm-usage&quot;] } }, &quot;http://selenium:4444/wd/hub&quot;]"/>
    <env name="SIMPLETEST_DB" value="mysql://user:password@db/drupal"/>
    <env name="SYMFONY_DEPRECATIONS_HELPER" value="disabled"/>
  </php>
  <testsuites>
    <testsuite name="unit">
      <directory>./web/modules/custom/shepherd/*/tests/src/Unit</directory>
      <directory>./web/profiles/custom/shepherd/*/tests/src/Unit</directory>
    </testsuite>
    <testsuite name="kernel">
      <directory>./web/modules/custom/shepherd/*/tests/src/Kernel</directory>
      <directory>./web/profiles/custom/shepherd/*/tests/src/Kernel</directory>
    </testsuite>
    <testsuite name="functional">
      <directory>./web/modules/custom/shepherd/*/tests/src/Functional</directory>
      <directory>./web/profiles/custom/shepherd/*/tests/src/Functional</directory>
    </testsuite>
    <testsuite name="functionaljs">
      <directory>./web/modules/custom/shepherd/*/tests/src/FunctionalJavascript</directory>
      <directory>./web/profiles/custom/shepherd/*/tests/src/FunctionalJavascript</directory>
    </testsuite>
  </testsuites>

  <listeners>
    <listener class="\Drupal\Tests\Listeners\DrupalListener">
    </listener>
    <!-- The Symfony deprecation listener has to come after the Drupal listener -->
    <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener">
    </listener>
  </listeners>

</phpunit>
