{#
/**
 * @file
 * UA theme header-toolbar template.
 *
 * Used by page.html.twig.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 * - hide_site_name: A flag indicating if the site name has been toggled off on
 *   the theme settings page. If hidden, the "visually-hidden" class is added
 *   to make the site name visually hidden, but still accessible.
 * - hide_site_slogan: A flag indicating if the site slogan has been toggled off
 *   on the theme settings page. If hidden, the "visually-hidden" class is
 *   added to make the site slogan visually hidden, but still accessible.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.messages: Status and error messages. Should be displayed prominently.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.featured_top: Items for the featured top region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.featured_bottom_first: Items for the first featured bottom region.
 * - page.featured_bottom_second: Items for the second featured bottom region.
 * - page.featured_bottom_third: Items for the third featured bottom region.
 * - page.footer_first: Items for the first footer column.
 * - page.footer_second: Items for the second footer column.
 * - page.footer_third: Items for the third footer column.
 * - page.footer_fourth: Items for the fourth footer column.
 * - page.footer_fifth: Items for the fifth footer column.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see bartik_preprocess_page()
 * @see html.html.twig
 */
#}
<!-- Header toolbar -->
<div class="header-toolbar">
    <div class="header-toolbar__aside1">
        <a href="//adelaide.edu.au" class="header-toolbar__home-link"><span class="sprite sprite-uoa-home"></span> {{ 'The University of Adelaide'|t }}</a>
    </div>
    <div class="header-toolbar__aside2">
        <form action="" id="" class="toolbar-search-form pull-right">
            <input type="text" class="toolbar-search-form__text-input" name="query" placeholder="Search Website" tabindex="7">
            <div class="toolbar-search-form__select-box">
                <div class="toolbar-search-form__select-options">
                    <div class="toolbar-search-form__select-options__item">
                        <input id="toolbar-search-opt-website" name="" value="website" type="radio" tabindex="2" checked="checked">
                        <label for="toolbar-search-opt-website">Website</label>
                    </div>
                    <div class="toolbar-search-form__select-options__item">
                        <input id="toolbar-search-opt-people" name="" value="people" type="radio" tabindex="3">
                        <label for="toolbar-search-opt-people">People</label>
                    </div>
                    <div class="toolbar-search-form__select-options__item">
                        <input id="toolbar-search-opt-library" name="" value="library" type="radio" tabindex="4">
                        <label for="toolbar-search-opt-library">Library</label>
                    </div>
                    <div class="toolbar-search-form__select-options__item">
                        <input id="toolbar-search-opt-degrees" name="" value="degrees" type="radio" tabindex="5">
                        <label for="toolbar-search-opt-degrees">Degrees</label>
                    </div>
                    <div class="toolbar-search-form__select-options__item">
                        <input id="toolbar-search-opt-blogs" name="" value="blogs" type="radio" tabindex="6">
                        <label for="toolbar-search-opt-blogs">Blogs</label>
                    </div>
                </div>
            </div>
            <input type="submit" class="toolbar-search-form__search-btn" value="Search" title="Search" tabindex="8">
        </form>
        <div class="header-toolbar__textsize pull-right">
            <ul class="header-toolbar__textsize-list">
                <li class="header-toolbar__textsize-item">
                    <a href="#0" class="header-toolbar__textsize-link"><span class="sprite sprite-textsize"></span>{{ 'Decrease Font Size'|t }}</a>
                </li>
                <li class="header-toolbar__textsize-item">
                    <a href="#0" class="header-toolbar__textsize-link"><span class="sprite sprite-textsize--large"></span>{{ 'Increase Font Size'|t }}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- Header toolbar -->
