<div class="quick-links" role="tablist">
  <h4 class="quick-links__title">Quicklinks B</h4>
    <div class="quick-links__nub">&nbsp;</div>
      <ul class="quick-links__menu">
        <li class="quick-links__menu__item"><a href="#" class="quick-links__menu__item--link" title="#"><span class="quick-links__menu__item--arrow">&nbsp;</span>#menu option</a></li>
        <li class="quick-links__menu__item"><a href="#" class="quick-links__menu__item--link" title="#"><span class="quick-links__menu__item--arrow">&nbsp;</span>#menu option</a></li>
        <li class="quick-links__menu__item"><a href="#" class="quick-links__menu__item--link" title="#"><span class="quick-links__menu__item--arrow">&nbsp;</span>#menu option</a></li>
        <li class="quick-links__menu__item"><a href="#" class="quick-links__menu__item--link" title="#"><span class="quick-links__menu__item--arrow">&nbsp;</span>#menu option</a></li>
        <li class="quick-links__menu__item"><a href="#" class="quick-links__menu__item--link" title="#"><span class="quick-links__menu__item--arrow">&nbsp;</span>#menu option</a></li>
     </ul>
</div>
