// Image Gallery
//
// Markup: image-gallery.html
//
// Gallery title heading type (h2, h3, etc.) should be interchangeable through editor.
//
// Styleguide components.image-gallery

.image-gallery {

  &__title {
    margin: 0 0 7px;
    padding: 0 0 0 7px;
    line-height: 1.4em;
  }

  &__list {
    @include clearfix();
    padding: 10px 0 10px 5px;
    border-top: 2px solid color(orange-text);
    background-color: lighten(color(grey-light), 8%);
  }

  &__list-item {
    display: block;
    float: left;
    list-style-type: none;
    padding: 0 4px 4px 0;
    position: relative;
  }

  &__list-link {
    @include animate-opacity(.75s);
    display: block;
    position: relative;
    border: 1px solid color(grey-dark);

    &:link,
    &:visited {
      border: 1px solid color(grey-dark);
      color: transparent;
    }

    &:hover {
      border-color: color(ua-white);
    }
  }

  &__list-link:hover {

    &:before {
      font-family: 'icomoon';
      content: '\e986';
      display: block;
      position: absolute;
      z-index: 1;
      bottom: 0;
      right: 0;
      width: 17px;
      height: 17px;
      background: color(ua-white);
      padding: 2px 5px;
      color: color(link-focus);
      font-size: 17px;
    }
  }
}



// scss-lint:disable IdSelector SelectorFormat ImportantRule

// ID selectors and the selector are because colorbox
//
// Don't be mad at me.  :(
//
// Andrew Smith: andrew.smith03@adelaide.edu.au


#colorbox,
#cboxOverlay,
#cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
}

#cboxWrapper {
  max-width: none;
}

#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: url('../images/colorbox/overlay.png') top left repeat;
  background-color: color(ua-black);
}

#cboxMiddleLeft,
#cboxBottomLeft {
  clear: left;
}

#cboxContent {
  position: relative;
  margin-top: 20px;
  background: color(ua-black);
}

#cboxLoadedContent {
  overflow: hidden !important;
  -webkit-overflow-scrolling: touch;
  background: color(ua-white);
  border: 5px solid color(ua-black);
}

#cboxTitle {
  margin: 0;
  position: absolute;
  top: -20px;
  left: 0;
  color: color(ua-white);
  background: none;
  font-size: inherit;

  a {
    color: color(ua-white);
    border-bottom: 1px dotted;

    &:hover {
      border-bottom: 1px solid;
    }
  }
}

#cboxLoadingOverlay,
#cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// Navigation Arrows
#cboxPrevious,
#cboxNext,
#cboxClose,
#cboxSlideshow {
  cursor: pointer;
}

#cboxNext,
#cboxPrevious {
  display: block;
  position: absolute;
  top: 39%;
  width: 38px;
  height: 79px;
  font-size: 0;
  line-height: 0;

  &:before {
    content: '';
    z-index: 9999;
    width: 38px;
    height: 79px;
    position: relative;
    display: block;
    text-transform: capitalize;
  }
}

#cboxPrevious {
  left: 8px;
  padding: 15px;
  text-indent: -9999px;
  background-color: transparent;

  &:hover {
    display: block;
  }

}

#cboxNext {
  position: absolute;
  top: 39%;
  right: 7px;
  text-indent: -9999px;
  background-color: transparent;

  &:hover {
    display: block;
  }

}


.cboxPhoto {
  float: left;
  margin: auto;
  border: 0;
  display: block;
  max-width: none;
  -ms-interpolation-mode: bicubic;
}

.cboxIframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
  background: color(ua-white);
}

#colorbox,
#cboxContent,
#cboxLoadedContent {
  @include box-sizing(content-box);
}

// User Style:
// Change the following styles to modify the appearance of ColorBox.  They are
// ordered & tabbed in a way that represents the nesting of the generated HTML.

#colorbox {
  outline: 0;

  button {
    border: 0;
  }
}

#cboxError {
  padding: 50px;
  border: 1px solid #ccc;
}

#cboxCurrent {
  position: absolute;
  top: -18px;
  left: 5px;
  color: #ccc;
  font-size: 12px;
}

#cboxLoadingGraphic {
  background: url('../images/colorbox/loading.gif') no-repeat center center;
}

// these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles
#cboxPrevious,
#cboxNext,
#cboxSlideshow,
#cboxClose {
  border: 0;
  padding: 0;
  margin: 0;
}

// avoid outlines on:active (mouseclick), but preserve outlines on: focus (tabbed navigating)
#cboxPrevious:active,
#cboxNext:active,
#cboxSlideshow:active,
#cboxClose:active {
  outline: 0;
}

#cboxSlideshow {
  position: absolute;
  top: -20px;
  right: 90px;
  color: color(ua-white);
}

#cboxLoadingOverlay {
  background: url('../images/colorbox/loading_background.png') no-repeat center center;
}

//#cboxLoadingGraphic {
//  background: url('../images/colorbox/loading.gif') no-repeat center center;
//}

#cboxClose {
  color: color(ua-white);
  background: none;
  position: absolute;
  right: 0;
  top: -20px;
  font-size: 100%;
  float: right;
  text-align: right;

  &:hover {
    font-weight: bold;
    text-decoration: underline;
  }
}
