<div class="image-gallery">
  <h3 class="image-gallery__title">Sample photo gallery</h3>
  <ul class="image-gallery__list">
    <li class="image-gallery__list-item">
      <a class="image-gallery__list-link" rel="gallery" href="//global-uat.adelaide.edu.au/v/redesign1/temp_assets/bg-slide.jpg" title="Image 1">
        <img class="image-gallery__image-thumb" alt="Galley Item" src="//webdev.adelaide.edu.au/webguide-internal/pattern-library/images/gallery/images/thumbnails_108x81/01_108x81.jpg">
      </a>
    </li>
    <li class="image-gallery__list-item">
      <a class="image-gallery__list-link" rel="gallery" href="//global-uat.adelaide.edu.au/v/redesign1/temp_assets/bg-slide-2.jpg" title="Image 2">
        <img class="image-gallery__image-thumb" alt="Galley Item" src="//webdev.adelaide.edu.au/webguide-internal/pattern-library/images/gallery/images/thumbnails_108x81/02_108x81.jpg">
      </a>
    </li>
    <li class="image-gallery__list-item">
      <a class="image-gallery__list-link" rel="gallery" href="//global-uat.adelaide.edu.au/v/redesign1/temp_assets/bg-slide.jpg" title="Image 3">
        <img class="image-gallery__image-thumb" alt="Galley Item" src="//webdev.adelaide.edu.au/webguide-internal/pattern-library/images/gallery/images/thumbnails_108x81/03_108x81.jpg">
      </a>
    </li>
  </ul>
</div>