// scss-lint:disable ColorKeyword, ColorVariable, SpaceAfterComma


//
// Variables
//

//
// Font faces, stacks and sizes.
//

$arial: Arial,Helvetica,sans-serif;
$georgia: Georgia,Times,serif;


// Now create some variables using the font stacks we want on this site.
$font-body: $arial;
$font-header: $georgia;


// Vertical Rhythm
$base-font-size: 13px;
$base-line-height: 21px;
$rem-with-px-fallback: true;

// Headings
$h1-fz: 32px; // 2em
$h2-fz: 28px; // 1.796em
$h3-fz: 25px; // 1.615em
$h4-fz: 23px; // 1.462em
$h5-fz: 20px; // 1.308em
$h6-fz: 18px; // 1.154em

//
// Zen Grid system
//

@import 'zen-grids'; // Import Zen Grids with this statement.
$box-sizing-polyfill-path: 'http://ua.dev/themes/custom/ua_theme/boxsizing.htc';
$zen-columns: 7; // Set the number of columns in the grid.
$zen-gutters: 10px; // Set the gutter size. A half-gutter is used on each side of each column.


// Media Queries
$tiny-bear: max-width 450px;
$baby-bear: max-width 767px;
$mama-bear: 768px 979px;
$mama-bear-max: max-width 979px;
$papa-bear: 1200px;


//
// Images
//

// Sprites
$sprite-icons-layout: smart;
@import '../images/sprite/*.png';
@include all-sprite-sprites(true);



// The following Sass functions are required to generate some variables' values,
// so we load them first.
@import 'chroma/functions';

// Colors
//
// Use the <code>color()</code> function to add colors to CSS properties.
//
// Markup: sass-colors.hbs
//
// Weight: -1
//
// Styleguide: sass.colors

// Define useful names of color values.
$chroma: add-default-color-scheme('The main colors of the site.', (

  ua-white:             #fff,
  ua-black:             #231f20,
  grey:                 #bbb,
  grey-light:           #ddd,
  grey-dark:            #666,
  grey-darker:          #333,
  grey-blue-light:      #d5e3ef,
  grey-blue-lighter:    #cadceb,

  blue-light:           #eaf1f8,
  blue-mid:             #4391ca,
  red-text:             #ec1c2e,
  blue-text:            #005a9c,
  orange-text:          #b38808,
  orange-light:         #f4edda,
  orange-lighter:       #fbf8ee,
  orange-mid:           #e1cfa0,
  orange-dark:          #d4cbb3,
  orange-darker:        #7e5f05

));
$chroma-default-scheme:  'design';

// Define color variable names for functional uses.
$chroma: add-color-scheme('design', 'Colors used by different parts of the design.', (
  // Text colors.
  heading-grey:       color(grey-darker),
  heading-orange:     color(orange-text),
  body:               color(grey-dark),
  link:               color(blue-text),
  link-focus:         color(red-text),
));
