// Animate all the things
@mixin animate-opacity ($speed) {
  &:before,
  &:after {
    @include opacity(0);
    display: block;
    content: '';
    width: 0;
    height: 0;
  }

  &:hover:before,
  &:hover:after {
    @include opacity(1);
    @include transition-property(opacity);
    @include transition-duration($speed);
  }
}


