// Forms
//
// Styleguide components.forms

// Toolbar Search Form
//
// Weight: -1
//
////Markup: forms.form-generic.html
//
////Styleguide: components.forms.generic


input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }


// Toolbar Search Form
//
// Weight: 1
//
// Markup: forms.toolbar-search.html
//
// Styleguide: components.forms.toolbar-search

.toolbar-search-form {
  position: relative;
  display: block;
  width: 245px;  height: 38px;
  right: 0;
  @include clearfix();
  @include breakpoint($mama-bear-max) {
    width: 30px;
  }

  &__text-input {
    &[type="text"] {
      position: absolute;
      top: 5px;
      padding: 0 10px;
      width: 179px;
      height: 26px;
      background: image-url('ui-form.png') -37px -203px no-repeat;
      border: 0;
      border-radius: 0px;
      @include breakpoint($mama-bear-max) {display: none;}
    }
  }


  &__select-box {
    position: relative;
    top: 5px;  left: 179px;
    width: 27px;  height: 26px;
    background: image-url('ui-form.png') 0 -203px no-repeat;
    border: 0;
    @include breakpoint($mama-bear-max) {display: none;}
  }

  &__select-options {
//    display: none;
    position: relative;
    z-index: 1;
    top: 25px; left: -175px;
    width: 179px;
    padding: 10px;
    background: image-url('trans80.png') top left repeat;
    &__item {
      line-height: 1.3em;
      @include clearfix();
      label {
        display: inline;
        margin: 0;
        font-weight: normal;
        color: color(white);
        cursor: pointer;
        font-family: $arial;
      }
      input[type="checkbox"],
      input[type="radio"] {

      }
    }
  }

  &__search-btn {
    position: absolute;
    top: 3px;  left: 211px;
    height: 28px; width: 30px;
    background: image-url('ui-buttons.png') 0 -50px no-repeat;
    border: 0;
    color: #fff;
    line-height: 26px;
    text-indent: -999px;
    @include breakpoint($mama-bear-max) {
      left: 0;
    }
  }

}
