<div class="sitenav">
  <ul class="sitenav__first-level">
    <li class="sitenav__item sitenav__toggle"><a href="#0" class="sitenav__item-link"><i class="icon-menu"></i> Site Menu</a></li>
    <li class="sitenav__item"><a href="#0" class="sitenav__item-link">First Level</a></li>
    <li class="sitenav__item"><a href="#0" class="sitenav__item-link">First Level</a></li>
    <li class="sitenav__item sitenav__parent sitenav__current"><a href="#0" class="sitenav__item-link">First Level - Parent & Current</a>
      <ul class="sitenav__second-level">
        <li class="sitenav__item"><a href="#0" class="sitenav__item-link">Second Level</a></li>
        <li class="sitenav__item sitenav__parent sitenav__current"><a href="#0" class="sitenav__item-link">Second Level - Parent & Current</a>
          <ul class="sitenav__third-level">
            <li class="sitenav__item"><a href="#0" class="sitenav__item-link">Third Level</a></li>
            <li class="sitenav__item"><a href="#0" class="sitenav__item-link">Third Level</a></li>
            <li class="sitenav__item sitenav__parent sitenav__current"><a href="#0" class="sitenav__item-link">Third Level - Parent & Current</a>
              <ul class="sitenav__fourth-level">
                <li class="sitenav__item"><a href="#0" class="sitenav__item-link">Fourth Level</a></li>
                <li class="sitenav__item sitenav__active"><a href="#0" class="sitenav__item-link">Fourth Level - Active</a></li>
                <li class="sitenav__item"><a href="#0" class="sitenav__item-link">Fourth Level</a></li>
              </ul>
            </li>
            <li class="sitenav__item"><a href="#0" class="sitenav__item-link">Third Level</a></li>
            <li class="sitenav__item"><a href="#0" class="sitenav__item-link">Third Level</a></li>
          </ul>
        </li>
        <li class="sitenav__item"><a href="#0" class="sitenav__item-link">Second Level</a></li>
        <li class="sitenav__item"><a href="#0" class="sitenav__item-link">Second Level</a></li>
      </ul>
    </li>
    <li class="sitenav__item"><a href="#0" class="sitenav__item-link">First Level</a></li>
    <li class="sitenav__item"><a href="#0" class="sitenav__item-link">First Level</a></li>
  </ul>
</div>