<header class="layout-header">
  <div class="layout-container">
    <section class="demo">
      Header
    </section>
  </div>
</header>
<section>
  <div class="layout-container">
    <article class="layout-content demo">
      Content
    </article>
    <aside class="layout-aside1 demo">
      Content aside 1
    </aside>
    <aside class="layout-aside2 demo">
      Content aside 2
    </aside>
  </div>
</section>
<footer class="layout">
  <div class="layout-container">
    <section class="layout-footer demo">
      Footer
    </section>
  </div>
</footer>