<header class="layout-header">
  <div class="layout-container">

    <!-- Header toolbar -->
    <div class="header-toolbar">

      <div class="header-toolbar__aside1">
        <a href="#0" class="header-toolbar__home-link"><span class="sprite icons-uoa-icon"></span> University of Adelaide</a>
      </div>

      <div class="header-toolbar__aside2">

        <form action="" id="" class="toolbar-search-form pull-right">
          <input type="text" class="toolbar-search-form__text-input" name="query" placeholder="Search Website" tabindex="7">
          <div class="toolbar-search-form__select-box">
            <div class="toolbar-search-form__select-options">
              <div class="toolbar-search-form__select-options__item">
                <input id="toolbar-search-opt-website" name="" value="website" type="radio" tabindex="2" checked="checked">
                <label for="toolbar-search-opt-website">Website</label>
              </div>
              <div class="toolbar-search-form__select-options__item">
                <input id="toolbar-search-opt-people" name="" value="people" type="radio" tabindex="3">
                <label for="toolbar-search-opt-people">People</label>
              </div>
              <div class="toolbar-search-form__select-options__item">
                <input id="toolbar-search-opt-library" name="" value="library" type="radio" tabindex="4">
                <label for="toolbar-search-opt-library">Library</label>
              </div>
              <div class="toolbar-search-form__select-options__item">
                <input id="toolbar-search-opt-degrees" name="" value="degrees" type="radio" tabindex="5">
                <label for="toolbar-search-opt-degrees">Degrees</label>
              </div>
              <div class="toolbar-search-form__select-options__item">
                <input id="toolbar-search-opt-blogs" name="" value="blogs" type="radio" tabindex="6">
                <label for="toolbar-search-opt-blogs">Blogs</label>
              </div>
            </div>
          </div>
          <input type="submit" class="toolbar-search-form__search-btn" value="Search" title="Search" tabindex="8">
        </form>

        <div class="header-toolbar__textsize pull-right">
          <ul class="header-toolbar__textsize-list">
            <li class="header-toolbar__textsize-item">
              <a href="#0" class="header-toolbar__textsize-link"><span class="sprite icons-textsize-icon"></span>Decrease Font Size</a>
            </li>
            <li class="header-toolbar__textsize-item">
              <a href="#0" class="header-toolbar__textsize-link"><span class="sprite icons-textsize-icon-large"></span>Increase Font Size</a>
            </li>
          </ul>
        </div>

      </div>

    </div>
    <!-- Header toolbar -->


    <!-- Header Branding -->
    <div class="header-branding">
      <a href="#0" id="" class="header-branding__site-title" title="">
        The University of Adelaide
      </a>
      <a href="#0" class="header-branding__branding-logo" title="">
        <img src="//global.adelaide.edu.au/v/redesign1/images/bg-header-logo-ds.png" alt="The University of Adelaide Logo">
      </a>
    </div>
    <!-- Header Branding -->

  </div> <!-- layout-container -->
</header>