<div class="header-toolbar demo">
  <div class="header-toolbar__aside1">
    <a href="#0" class="header-toolbar__home-link"><span class="sprite sprite-uoa-home"></span> University of Adelaide</a>
  </div>
  <div class="header-toolbar__aside2">
    <div class="header-toolbar__textsize pull-right">
      <ul class="header-toolbar__textsize-list">
        <li class="header-toolbar__textsize-item">
          <a href="#0" class="header-toolbar__textsize-link"><span class="sprite sprite-textsize"></span>Decrease Font Size</a>
        </li>
        <li class="header-toolbar__textsize-item">
          <a href="#0" class="header-toolbar__textsize-link"><span class="sprite sprite-textsize--large"></span>Increase Font Size</a>
        </li>
      </ul>
    </div>
  </div>
</div>
