shepherd-test-site-0.openshift.development.adelaide.edu.au/
mp-test-1.openshift.development.adelaide.edu.au/mp-test
shepherd-test-site-1.openshift.development.adelaide.edu.au/
batza-test-site-0.openshift.development.adelaide.edu.au/
shepherd-test-site-3.openshift.development.adelaide.edu.au/
mp-test-0.openshift.development.adelaide.edu.au/mp-test
jb-test-0.openshift.development.adelaide.edu.au/
