<table class="table striped">
  <caption>Table Caption</caption>
  <tbody>
  <tr>
    <th>First heading</th>
    <th class="alt">Second heading</th>
    <th>Third heading</th>
  </tr>
  <tr>
    <td data-th="First heading" class="cell-blue">Column cell</td>
    <td data-th="Second heading" class="cell-gold">Column cell</td>
    <td data-th="Third heading" class="cell-light-gold">Column cell</td>
  </tr>
  <tr>
    <td data-th="First heading">Column cell</td>
    <td data-th="Second heading">Column cell</td>
    <td data-th="Third heading">Column cell</td>
  </tr>
  <tr>
    <td data-th="First heading">Column cell</td>
    <td data-th="Second heading">Column cell</td>
    <td data-th="Third heading">Column cell</td>
  </tr>
  </tbody>
</table>