// Typography
//
// Weight: -1
//
//
// Styleguide components.typography


// Headings
//
// Weight: -1
//
// Markup: typography.headings.html
//
// Styleguide: components.typography.headings



%heading {
//  margin-bottom: 15px;
  font-family: $font-header;
  font-weight: 400;
}

h1,
%h1 {
  @extend %heading;
  @include adjust-font-size-to($h1-fz);
//  font-size: 2em;
  color: color(heading-orange);
  .header-branding &{
    @include breakpoint($mama-bear-max){font-size: 1.4em;}
  } 
}

h2,
%h2 {
  @extend %heading;
  @include adjust-font-size-to($h2-fz);
//  font-size: 1.769em;
  color: color(heading-grey);
}

h3,
%h3 {
  @extend %heading;
  @include adjust-font-size-to($h3-fz);
//  font-size: 1.615em;
  color: color(heading-orange);
}

h4,
%h4 {
  @extend %heading;
  @include adjust-font-size-to($h4-fz);
//  font-size: 1.462em;
  color: color(heading-grey);

}

h5,
%h5 {
  @extend %heading;
  @include adjust-font-size-to($h5-fz);
//  font-size: 1.308em;
  color: color(heading-orange);
}

h6,
%h6 {
  @extend %heading;
  @include adjust-font-size-to($h6-fz);
//  font-size: 1.154em;
  color: color(heading-grey);
}

// Introduction paragraph
//
// Markup: typography.introduction-paragraph.html
//
// Styleguide: components.typography.introduction-paragraph
.paragraph--intro,
%paragraph--intro {
  @include adjust-font-size-to($h5-fz);
//  font-size: 1.308em;
  font-weight: 400;
  font-family: $georgia;
}

// Paragraph
//
// Markup: typography.paragraph.html
//
// Styleguide: components.typography.paragraph
p {
  padding-bottom: 20px;
  margin: 0;
}

// Hyperlinks
//
// Markup: typography.links.html
//
// Styleguide: components.typography.links

:link,
%link {
  color: color(link);
  text-decoration: none;
  border-bottom: 1px dotted currentColor;
}

a,
a:active,
a:visited {
  @extend %link;
}

a:hover,
a:focus {
  color: color(link-focus);
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}

// Improve readability by removing focus styles when also mouse hovered in all browsers.
a:hover,
a:active {
  outline: 0;
}
