// Typography
//
// Weight: -2
//
//
// Styleguide components.typography


// Headings
//
// Note: Heading 1's should never be linked.
//
// Weight: -1
//
// Markup: typography.headings.html
//
// Styleguide: components.typography.headings



%heading {
  margin-bottom: 15px;
  font-family: $font-header;
  font-weight: 400;
}

h1,
%h1 {
  @extend %heading;
  @include adjust-font-size-to($h1-fz);
  color: color(heading-orange);

  .header-branding & {
    @include breakpoint($mama-bear-max) {
      font-size: 1.4em;
    }
  } 
}

h2,
%h2 {
  @extend %heading;
  @include adjust-font-size-to($h2-fz);
  color: color(heading-grey);

}

h3,
%h3 {
  @extend %heading;
  @include adjust-font-size-to($h3-fz);
  color: color(heading-orange);

}

h4,
%h4 {
  @extend %heading;
  @include adjust-font-size-to($h4-fz);
  color: color(heading-grey);

}

h5,
%h5 {
  @extend %heading;
  @include adjust-font-size-to($h5-fz);
  color: color(heading-orange);

}

h6,
%h6 {
  @extend %heading;
  @include adjust-font-size-to($h6-fz);
  color: color(heading-grey);

}

// Introduction paragraph
//
// Markup: typography.introduction-paragraph.html
//
// Styleguide: components.typography.introduction-paragraph

.paragraph--intro,
%paragraph--intro {
  @include adjust-font-size-to($h5-fz);
  line-height: 1.5em;
  font-weight: 400;
  font-family: $georgia;
}

// Paragraph
//
// Markup: typography.paragraph.html
//
// Styleguide: components.typography.paragraph

p {
  margin-bottom: 15px;
}

// Hyperlinks
//
// Markup: typography.links.html
//
// Styleguide: components.typography.links

:link,
%link {
  color: color(link);
  text-decoration: none;
  border-bottom: 1px dotted color(link);
}

a,
a:active,
a:visited {
  @extend %link;
}

a:hover,
a:focus {
  color: color(link-focus);
  text-decoration: none;
  border-bottom: 1px solid color(link-focus);
}

// Improve readability by removing focus styles when also mouse hovered in all browsers.
a:hover,
a:active {
  outline: 0;
}

// Blockquote
//
// Note: can the field for blockquote__figure be optional?
// This way, we can have "John Smith said:" and then
// the quote and not have to re-reference John Smith
//
// Markup: typography.blockquote.html
//
// Styleguide: components.typography.blockquote


@mixin blockquote-generated-content ($quote-size, $left-before) {

  .blockquote__content {

    &:before,
    &:after {
      position: absolute;
      height: 27px;
      color: color(heading-orange);
      font-style: italic;
      font-size: $quote-size; // $h2-fz * 2
      line-height: 1;
     // quotes: '\201C''\201D''\2018''\2019';
    }

    &:before {
      content: open-quote;
      top: -2px;
      left: $left-before;
    }

    &:after {
      content: close-quote;
    }

  }
}


.blockquote {
  @include adjust-font-size-to($h5-fz);

  @include blockquote-generated-content ($h2-fz * 2, 0);
  line-height: 1.5em;
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  padding-left: 35px;
  padding-right: 35px;
  font-family: $georgia;
  font-style: italic;
  quotes: '\201C''\201D''\2018''\2019';

  &__figure {
    display: block;
    font-family: $arial;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-style: normal;
  }



  &--small {
    @include adjust-font-size-to($h6-fz - 2);

    @include blockquote-generated-content ($h5-fz * 2, 8px);
  }

}


// Small Blockquote
//
// Markup: typography.blockquote-small.html
//
// Styleguide: components.typography.blockquote-small

